@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>

            <!-- 
                on the href for the link, we are using the routing page name
                    of the blazor component
                we also need to treat this anchor as a nav-item similar to the menu
            -->

            <a href="privacy" class="nav-item">Privacy</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <footer class="text-center">
            <br/><br/>
            &copy;copyright whatever needs to go on your footer
        </footer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
